@charset "UTF-8";
.bg-df {
  color: #fff;
  background: linear-gradient(45deg, #0081ff, #1cbbb4); }

.text-df {
  color: #0081ff; }

.solid-df::before {
  border: solid 2rpx #0081ff; }

body {
  background-color: #f8f8f8;
  font-size: 28rpx;
  color: #333;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  height: 100%; }

/* #ifdef H5 */
uni-page-body {
  height: 100%; }

/* #endif */
view,
scroll-view,
swiper,
button,
input,
textarea,
label,
navigator,
image {
  box-sizing: border-box; }

.full, .bg-mask::after, .bg-video video, image.loading::before, image.loading::after, [class*='solid']::before,
[class*='dashed']::before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%; }

.width-p100 {
  width: 100% !important; }

.height-p100 {
  height: 100% !important; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }

.fixed-top {
  position: fixed;
  width: 100%;
  top: 0; }

.fixed-bottom {
  position: fixed;
  width: 100%;
  bottom: 0; }

.disabled {
  opacity: 0.6; }

.bg-red {
  background: #e54d42;
  color: #fff; }

.bg-light-red {
  background: #fadbd9;
  color: #e54d42; }

.bg-gradual-red {
  background: linear-gradient(45deg, #f43f3b, #ec008c);
  color: #fff; }

.bg-orange {
  background: #f37b1d;
  color: #fff; }

.bg-light-orange {
  background: #fde6d2;
  color: #f37b1d; }

.bg-gradual-orange {
  background: linear-gradient(45deg, #ff9700, #ed1c24);
  color: #fff; }

.bg-yellow {
  background: #fbbd08;
  color: #333; }

.bg-light-yellow {
  background: #fef2ce;
  color: #fbbd08; }

.bg-gradual-yellow {
  background: linear-gradient(45deg, #fbbd08, #fef2ce);
  color: #333; }

.bg-olive {
  background: #8dc63f;
  color: #fff; }

.bg-light-olive {
  background: #e8f4d9;
  color: #8dc63f; }

.bg-gradual-olive {
  background: linear-gradient(45deg, #8dc63f, #e8f4d9);
  color: #fff; }

.bg-green {
  background: #39b54a;
  color: #fff; }

.bg-light-green {
  background: #d7f0db;
  color: #39b54a; }

.bg-gradual-green {
  background: linear-gradient(45deg, #39b54a, #8dc63f);
  color: #fff; }

.bg-cyan {
  background: #1cbbb4;
  color: #fff; }

.bg-light-cyan {
  background: #d2f1f0;
  color: #1cbbb4; }

.bg-gradual-cyan {
  background: linear-gradient(45deg, #1cbbb4, #d2f1f0);
  color: #fff; }

.bg-blue {
  background: #0081ff;
  color: #fff; }

.bg-light-blue {
  background: #cce6ff;
  color: #0081ff; }

.bg-gradual-blue {
  background: linear-gradient(45deg, #0081ff, #1cbbb4);
  color: #fff; }

.bg-purple {
  background: #6739b6;
  color: #fff; }

.bg-light-purple {
  background: #e1d7f0;
  color: #6739b6; }

.bg-gradual-purple {
  background: linear-gradient(45deg, #9000ff, #5e00ff);
  color: #fff; }

.bg-mauve {
  background: #9c26b0;
  color: #fff; }

.bg-light-mauve {
  background: #ebd4ef;
  color: #9c26b0; }

.bg-gradual-mauve {
  background: linear-gradient(45deg, #9c26b0, #ebd4ef);
  color: #fff; }

.bg-pink {
  background: #e03997;
  color: #fff; }

.bg-light-pink {
  background: #f9d7ea;
  color: #e03997; }

.bg-gradual-pink {
  background: linear-gradient(45deg, #ec008c, #6739b6);
  color: #fff; }

.bg-brown {
  background: #a5673f;
  color: #fff; }

.bg-light-brown {
  background: #ede1d9;
  color: #a5673f; }

.bg-gradual-brown {
  background: linear-gradient(45deg, #a5673f, #ede1d9);
  color: #fff; }

.bg-grey {
  background: #aaa;
  color: #fff; }

.bg-light-grey {
  background: #e7ebed;
  color: #aaa; }

.bg-gradual-grey {
  background: linear-gradient(45deg, #8799a3, #e7ebed);
  color: #fff; }

.bg-gray {
  background: #f0f0f0;
  color: #333; }

.bg-light-gray {
  color: #f0f0f0; }

.bg-gradual-gray {
  background: linear-gradient(45deg, , );
  color: #333; }

.bg-black {
  background: #333;
  color: #fff; }

.bg-light-black {
  color: #333; }

.bg-gradual-black {
  background: linear-gradient(45deg, , );
  color: #fff; }

.bg-white {
  background: #fff;
  color: #666; }

.bg-light-white {
  color: #fff; }

.bg-gradual-white {
  background: linear-gradient(45deg, , );
  color: #666; }

.bg-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.bg-mask {
  background-color: #333;
  position: relative; }
  .bg-mask::after {
    content: '';
    border-radius: inherit;
    background-color: rgba(0, 0, 0, 0.4); }
  .bg-mask view,
  .bg-mask cover-view {
    z-index: 5;
    position: relative; }

.bg-video {
  position: relative; }
  .bg-video video {
    object-fit: cover;
    z-index: 0;
    pointer-events: none; }

.bg-shadeTop {
  background-image: linear-gradient(black, rgba(0, 0, 0, 0.01));
  color: #fff; }

.bg-shadeBottom {
  background-image: linear-gradient(rgba(0, 0, 0, 0.01), black);
  color: #fff; }

.text-red {
  color: #e54d42; }

.text-orange {
  color: #f37b1d; }

.text-yellow {
  color: #fbbd08; }

.text-olive {
  color: #8dc63f; }

.text-green {
  color: #39b54a; }

.text-cyan {
  color: #1cbbb4; }

.text-blue {
  color: #0081ff; }

.text-purple {
  color: #6739b6; }

.text-mauve {
  color: #9c26b0; }

.text-pink {
  color: #e03997; }

.text-brown {
  color: #a5673f; }

.text-grey {
  color: #aaa; }

.text-gray {
  color: #f0f0f0; }

.text-black {
  color: #333; }

.text-white {
  color: #fff; }

.text-shadow {
  text-shadow: 6rpx 6rpx 8rpx; }

.text-xs {
  font-size: 20rpx; }

.text-sm {
  font-size: 24rpx; }

.text-df {
  font-size: 28rpx; }

.text-lg {
  font-size: 32rpx; }

.text-xl {
  font-size: 36rpx; }

.text-xxl {
  font-size: 44rpx; }

.text-sl {
  font-size: 80rpx; }

.text-xsl {
  font-size: 120rpx; }

.text-Abc {
  text-transform: Capitalize; }

.text-ABC {
  text-transform: Uppercase; }

.text-abc {
  text-transform: Lowercase; }

.text-price::before {
  content: '¥';
  font-size: 80%;
  margin-right: 4rpx; }

.text-cut {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.text-bold {
  font-weight: bold; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.radius {
  border-radius: 10rpx; }

.radius-lt {
  border-top-left-radius: 10rpx; }

.radius-rt {
  border-top-right-radius: 10rpx; }

.radius-lb {
  border-bottom-left-radius: 10rpx; }

.radius-rb {
  border-bottom-right-radius: 10rpx; }

.round {
  border-radius: 10000rpx; }

.round-lt {
  border-top-left-radius: 10000rpx; }

.round-rt {
  border-top-right-radius: 10000rpx; }

.round-lb {
  border-bottom-left-radius: 10000rpx; }

.round-rb {
  border-bottom-right-radius: 10000rpx; }

image {
  max-width: 100%;
  display: inline-block;
  position: relative;
  z-index: 0; }
  image.loading::before {
    content: '';
    background-color: #f5f5f5;
    z-index: -2; }
  image.loading::after {
    content: '\e7f1';
    font-family: 'icon';
    z-index: -1;
    font-size: 32rpx;
    color: #ccc;
    animation: icon-spin 2s infinite linear; }

[class*='solid'],
[class*='dashed'] {
  position: relative; }
  [class*='solid']::before,
  [class*='dashed']::before {
    content: '';
    pointer-events: none;
    border-radius: inherit;
    box-sizing: border-box; }

.solid::before {
  border: solid 2rpx rgba(0, 0, 0, 0.1); }

.solid-red::before {
  border: solid 2rpx #e54d42; }

.solid-orange::before {
  border: solid 2rpx #f37b1d; }

.solid-yellow::before {
  border: solid 2rpx #fbbd08; }

.solid-olive::before {
  border: solid 2rpx #8dc63f; }

.solid-green::before {
  border: solid 2rpx #39b54a; }

.solid-cyan::before {
  border: solid 2rpx #1cbbb4; }

.solid-blue::before {
  border: solid 2rpx #0081ff; }

.solid-purple::before {
  border: solid 2rpx #6739b6; }

.solid-mauve::before {
  border: solid 2rpx #9c26b0; }

.solid-pink::before {
  border: solid 2rpx #e03997; }

.solid-brown::before {
  border: solid 2rpx #a5673f; }

.solid-grey::before {
  border: solid 2rpx #aaa; }

.solid-gray::before {
  border: solid 2rpx #f0f0f0; }

.solid-black::before {
  border: solid 2rpx #333; }

.solid-white::before {
  border: solid 2rpx #fff; }

.solid-top::before {
  border-top: solid 2rpx rgba(0, 0, 0, 0.1); }

.solid-top-red::before {
  border-top: solid 2rpx #e54d42; }

.solid-top-orange::before {
  border-top: solid 2rpx #f37b1d; }

.solid-top-yellow::before {
  border-top: solid 2rpx #fbbd08; }

.solid-top-olive::before {
  border-top: solid 2rpx #8dc63f; }

.solid-top-green::before {
  border-top: solid 2rpx #39b54a; }

.solid-top-cyan::before {
  border-top: solid 2rpx #1cbbb4; }

.solid-top-blue::before {
  border-top: solid 2rpx #0081ff; }

.solid-top-purple::before {
  border-top: solid 2rpx #6739b6; }

.solid-top-mauve::before {
  border-top: solid 2rpx #9c26b0; }

.solid-top-pink::before {
  border-top: solid 2rpx #e03997; }

.solid-top-brown::before {
  border-top: solid 2rpx #a5673f; }

.solid-top-grey::before {
  border-top: solid 2rpx #aaa; }

.solid-top-gray::before {
  border-top: solid 2rpx #f0f0f0; }

.solid-top-black::before {
  border-top: solid 2rpx #333; }

.solid-top-white::before {
  border-top: solid 2rpx #fff; }

.solid-right::before {
  border-right: solid 2rpx rgba(0, 0, 0, 0.1); }

.solid-right-red::before {
  border-right: solid 2rpx #e54d42; }

.solid-right-orange::before {
  border-right: solid 2rpx #f37b1d; }

.solid-right-yellow::before {
  border-right: solid 2rpx #fbbd08; }

.solid-right-olive::before {
  border-right: solid 2rpx #8dc63f; }

.solid-right-green::before {
  border-right: solid 2rpx #39b54a; }

.solid-right-cyan::before {
  border-right: solid 2rpx #1cbbb4; }

.solid-right-blue::before {
  border-right: solid 2rpx #0081ff; }

.solid-right-purple::before {
  border-right: solid 2rpx #6739b6; }

.solid-right-mauve::before {
  border-right: solid 2rpx #9c26b0; }

.solid-right-pink::before {
  border-right: solid 2rpx #e03997; }

.solid-right-brown::before {
  border-right: solid 2rpx #a5673f; }

.solid-right-grey::before {
  border-right: solid 2rpx #aaa; }

.solid-right-gray::before {
  border-right: solid 2rpx #f0f0f0; }

.solid-right-black::before {
  border-right: solid 2rpx #333; }

.solid-right-white::before {
  border-right: solid 2rpx #fff; }

.solid-bottom::before {
  border-bottom: solid 2rpx rgba(0, 0, 0, 0.1); }

.solid-bottom-red::before {
  border-bottom: solid 2rpx #e54d42; }

.solid-bottom-orange::before {
  border-bottom: solid 2rpx #f37b1d; }

.solid-bottom-yellow::before {
  border-bottom: solid 2rpx #fbbd08; }

.solid-bottom-olive::before {
  border-bottom: solid 2rpx #8dc63f; }

.solid-bottom-green::before {
  border-bottom: solid 2rpx #39b54a; }

.solid-bottom-cyan::before {
  border-bottom: solid 2rpx #1cbbb4; }

.solid-bottom-blue::before {
  border-bottom: solid 2rpx #0081ff; }

.solid-bottom-purple::before {
  border-bottom: solid 2rpx #6739b6; }

.solid-bottom-mauve::before {
  border-bottom: solid 2rpx #9c26b0; }

.solid-bottom-pink::before {
  border-bottom: solid 2rpx #e03997; }

.solid-bottom-brown::before {
  border-bottom: solid 2rpx #a5673f; }

.solid-bottom-grey::before {
  border-bottom: solid 2rpx #aaa; }

.solid-bottom-gray::before {
  border-bottom: solid 2rpx #f0f0f0; }

.solid-bottom-black::before {
  border-bottom: solid 2rpx #333; }

.solid-bottom-white::before {
  border-bottom: solid 2rpx #fff; }

.solid-left::before {
  border-left: solid 2rpx rgba(0, 0, 0, 0.1); }

.solid-left-red::before {
  border-left: solid 2rpx #e54d42; }

.solid-left-orange::before {
  border-left: solid 2rpx #f37b1d; }

.solid-left-yellow::before {
  border-left: solid 2rpx #fbbd08; }

.solid-left-olive::before {
  border-left: solid 2rpx #8dc63f; }

.solid-left-green::before {
  border-left: solid 2rpx #39b54a; }

.solid-left-cyan::before {
  border-left: solid 2rpx #1cbbb4; }

.solid-left-blue::before {
  border-left: solid 2rpx #0081ff; }

.solid-left-purple::before {
  border-left: solid 2rpx #6739b6; }

.solid-left-mauve::before {
  border-left: solid 2rpx #9c26b0; }

.solid-left-pink::before {
  border-left: solid 2rpx #e03997; }

.solid-left-brown::before {
  border-left: solid 2rpx #a5673f; }

.solid-left-grey::before {
  border-left: solid 2rpx #aaa; }

.solid-left-gray::before {
  border-left: solid 2rpx #f0f0f0; }

.solid-left-black::before {
  border-left: solid 2rpx #333; }

.solid-left-white::before {
  border-left: solid 2rpx #fff; }

.solids::before {
  border: solid 6rpx rgba(0, 0, 0, 0.1); }

.solids-red::before {
  border: solid 6rpx #e54d42; }

.solids-orange::before {
  border: solid 6rpx #f37b1d; }

.solids-yellow::before {
  border: solid 6rpx #fbbd08; }

.solids-olive::before {
  border: solid 6rpx #8dc63f; }

.solids-green::before {
  border: solid 6rpx #39b54a; }

.solids-cyan::before {
  border: solid 6rpx #1cbbb4; }

.solids-blue::before {
  border: solid 6rpx #0081ff; }

.solids-purple::before {
  border: solid 6rpx #6739b6; }

.solids-mauve::before {
  border: solid 6rpx #9c26b0; }

.solids-pink::before {
  border: solid 6rpx #e03997; }

.solids-brown::before {
  border: solid 6rpx #a5673f; }

.solids-grey::before {
  border: solid 6rpx #aaa; }

.solids-gray::before {
  border: solid 6rpx #f0f0f0; }

.solids-black::before {
  border: solid 6rpx #333; }

.solids-white::before {
  border: solid 6rpx #fff; }

.solids-top::before {
  border-top: solid 6rpx rgba(0, 0, 0, 0.1); }

.solids-top-red::before {
  border-top: solid 6rpx #e54d42; }

.solids-top-orange::before {
  border-top: solid 6rpx #f37b1d; }

.solids-top-yellow::before {
  border-top: solid 6rpx #fbbd08; }

.solids-top-olive::before {
  border-top: solid 6rpx #8dc63f; }

.solids-top-green::before {
  border-top: solid 6rpx #39b54a; }

.solids-top-cyan::before {
  border-top: solid 6rpx #1cbbb4; }

.solids-top-blue::before {
  border-top: solid 6rpx #0081ff; }

.solids-top-purple::before {
  border-top: solid 6rpx #6739b6; }

.solids-top-mauve::before {
  border-top: solid 6rpx #9c26b0; }

.solids-top-pink::before {
  border-top: solid 6rpx #e03997; }

.solids-top-brown::before {
  border-top: solid 6rpx #a5673f; }

.solids-top-grey::before {
  border-top: solid 6rpx #aaa; }

.solids-top-gray::before {
  border-top: solid 6rpx #f0f0f0; }

.solids-top-black::before {
  border-top: solid 6rpx #333; }

.solids-top-white::before {
  border-top: solid 6rpx #fff; }

.solids-right::before {
  border-right: solid 6rpx rgba(0, 0, 0, 0.1); }

.solids-right-red::before {
  border-right: solid 6rpx #e54d42; }

.solids-right-orange::before {
  border-right: solid 6rpx #f37b1d; }

.solids-right-yellow::before {
  border-right: solid 6rpx #fbbd08; }

.solids-right-olive::before {
  border-right: solid 6rpx #8dc63f; }

.solids-right-green::before {
  border-right: solid 6rpx #39b54a; }

.solids-right-cyan::before {
  border-right: solid 6rpx #1cbbb4; }

.solids-right-blue::before {
  border-right: solid 6rpx #0081ff; }

.solids-right-purple::before {
  border-right: solid 6rpx #6739b6; }

.solids-right-mauve::before {
  border-right: solid 6rpx #9c26b0; }

.solids-right-pink::before {
  border-right: solid 6rpx #e03997; }

.solids-right-brown::before {
  border-right: solid 6rpx #a5673f; }

.solids-right-grey::before {
  border-right: solid 6rpx #aaa; }

.solids-right-gray::before {
  border-right: solid 6rpx #f0f0f0; }

.solids-right-black::before {
  border-right: solid 6rpx #333; }

.solids-right-white::before {
  border-right: solid 6rpx #fff; }

.solids-bottom::before {
  border-bottom: solid 6rpx rgba(0, 0, 0, 0.1); }

.solids-bottom-red::before {
  border-bottom: solid 6rpx #e54d42; }

.solids-bottom-orange::before {
  border-bottom: solid 6rpx #f37b1d; }

.solids-bottom-yellow::before {
  border-bottom: solid 6rpx #fbbd08; }

.solids-bottom-olive::before {
  border-bottom: solid 6rpx #8dc63f; }

.solids-bottom-green::before {
  border-bottom: solid 6rpx #39b54a; }

.solids-bottom-cyan::before {
  border-bottom: solid 6rpx #1cbbb4; }

.solids-bottom-blue::before {
  border-bottom: solid 6rpx #0081ff; }

.solids-bottom-purple::before {
  border-bottom: solid 6rpx #6739b6; }

.solids-bottom-mauve::before {
  border-bottom: solid 6rpx #9c26b0; }

.solids-bottom-pink::before {
  border-bottom: solid 6rpx #e03997; }

.solids-bottom-brown::before {
  border-bottom: solid 6rpx #a5673f; }

.solids-bottom-grey::before {
  border-bottom: solid 6rpx #aaa; }

.solids-bottom-gray::before {
  border-bottom: solid 6rpx #f0f0f0; }

.solids-bottom-black::before {
  border-bottom: solid 6rpx #333; }

.solids-bottom-white::before {
  border-bottom: solid 6rpx #fff; }

.solids-left::before {
  border-left: solid 6rpx rgba(0, 0, 0, 0.1); }

.solids-left-red::before {
  border-left: solid 6rpx #e54d42; }

.solids-left-orange::before {
  border-left: solid 6rpx #f37b1d; }

.solids-left-yellow::before {
  border-left: solid 6rpx #fbbd08; }

.solids-left-olive::before {
  border-left: solid 6rpx #8dc63f; }

.solids-left-green::before {
  border-left: solid 6rpx #39b54a; }

.solids-left-cyan::before {
  border-left: solid 6rpx #1cbbb4; }

.solids-left-blue::before {
  border-left: solid 6rpx #0081ff; }

.solids-left-purple::before {
  border-left: solid 6rpx #6739b6; }

.solids-left-mauve::before {
  border-left: solid 6rpx #9c26b0; }

.solids-left-pink::before {
  border-left: solid 6rpx #e03997; }

.solids-left-brown::before {
  border-left: solid 6rpx #a5673f; }

.solids-left-grey::before {
  border-left: solid 6rpx #aaa; }

.solids-left-gray::before {
  border-left: solid 6rpx #f0f0f0; }

.solids-left-black::before {
  border-left: solid 6rpx #333; }

.solids-left-white::before {
  border-left: solid 6rpx #fff; }

.dashed::before {
  border: dashed 2rpx rgba(0, 0, 0, 0.1); }

.dashed-red::before {
  border: dashed 2rpx #e54d42; }

.dashed-orange::before {
  border: dashed 2rpx #f37b1d; }

.dashed-yellow::before {
  border: dashed 2rpx #fbbd08; }

.dashed-olive::before {
  border: dashed 2rpx #8dc63f; }

.dashed-green::before {
  border: dashed 2rpx #39b54a; }

.dashed-cyan::before {
  border: dashed 2rpx #1cbbb4; }

.dashed-blue::before {
  border: dashed 2rpx #0081ff; }

.dashed-purple::before {
  border: dashed 2rpx #6739b6; }

.dashed-mauve::before {
  border: dashed 2rpx #9c26b0; }

.dashed-pink::before {
  border: dashed 2rpx #e03997; }

.dashed-brown::before {
  border: dashed 2rpx #a5673f; }

.dashed-grey::before {
  border: dashed 2rpx #aaa; }

.dashed-gray::before {
  border: dashed 2rpx #f0f0f0; }

.dashed-black::before {
  border: dashed 2rpx #333; }

.dashed-white::before {
  border: dashed 2rpx #fff; }

.dashed-top::before {
  border-top: dashed 2rpx rgba(0, 0, 0, 0.1); }

.dashed-top-red::before {
  border-top: dashed 2rpx #e54d42; }

.dashed-top-orange::before {
  border-top: dashed 2rpx #f37b1d; }

.dashed-top-yellow::before {
  border-top: dashed 2rpx #fbbd08; }

.dashed-top-olive::before {
  border-top: dashed 2rpx #8dc63f; }

.dashed-top-green::before {
  border-top: dashed 2rpx #39b54a; }

.dashed-top-cyan::before {
  border-top: dashed 2rpx #1cbbb4; }

.dashed-top-blue::before {
  border-top: dashed 2rpx #0081ff; }

.dashed-top-purple::before {
  border-top: dashed 2rpx #6739b6; }

.dashed-top-mauve::before {
  border-top: dashed 2rpx #9c26b0; }

.dashed-top-pink::before {
  border-top: dashed 2rpx #e03997; }

.dashed-top-brown::before {
  border-top: dashed 2rpx #a5673f; }

.dashed-top-grey::before {
  border-top: dashed 2rpx #aaa; }

.dashed-top-gray::before {
  border-top: dashed 2rpx #f0f0f0; }

.dashed-top-black::before {
  border-top: dashed 2rpx #333; }

.dashed-top-white::before {
  border-top: dashed 2rpx #fff; }

.dashed-right::before {
  border-right: dashed 2rpx rgba(0, 0, 0, 0.1); }

.dashed-right-red::before {
  border-right: dashed 2rpx #e54d42; }

.dashed-right-orange::before {
  border-right: dashed 2rpx #f37b1d; }

.dashed-right-yellow::before {
  border-right: dashed 2rpx #fbbd08; }

.dashed-right-olive::before {
  border-right: dashed 2rpx #8dc63f; }

.dashed-right-green::before {
  border-right: dashed 2rpx #39b54a; }

.dashed-right-cyan::before {
  border-right: dashed 2rpx #1cbbb4; }

.dashed-right-blue::before {
  border-right: dashed 2rpx #0081ff; }

.dashed-right-purple::before {
  border-right: dashed 2rpx #6739b6; }

.dashed-right-mauve::before {
  border-right: dashed 2rpx #9c26b0; }

.dashed-right-pink::before {
  border-right: dashed 2rpx #e03997; }

.dashed-right-brown::before {
  border-right: dashed 2rpx #a5673f; }

.dashed-right-grey::before {
  border-right: dashed 2rpx #aaa; }

.dashed-right-gray::before {
  border-right: dashed 2rpx #f0f0f0; }

.dashed-right-black::before {
  border-right: dashed 2rpx #333; }

.dashed-right-white::before {
  border-right: dashed 2rpx #fff; }

.dashed-bottom::before {
  border-bottom: dashed 2rpx rgba(0, 0, 0, 0.1); }

.dashed-bottom-red::before {
  border-bottom: dashed 2rpx #e54d42; }

.dashed-bottom-orange::before {
  border-bottom: dashed 2rpx #f37b1d; }

.dashed-bottom-yellow::before {
  border-bottom: dashed 2rpx #fbbd08; }

.dashed-bottom-olive::before {
  border-bottom: dashed 2rpx #8dc63f; }

.dashed-bottom-green::before {
  border-bottom: dashed 2rpx #39b54a; }

.dashed-bottom-cyan::before {
  border-bottom: dashed 2rpx #1cbbb4; }

.dashed-bottom-blue::before {
  border-bottom: dashed 2rpx #0081ff; }

.dashed-bottom-purple::before {
  border-bottom: dashed 2rpx #6739b6; }

.dashed-bottom-mauve::before {
  border-bottom: dashed 2rpx #9c26b0; }

.dashed-bottom-pink::before {
  border-bottom: dashed 2rpx #e03997; }

.dashed-bottom-brown::before {
  border-bottom: dashed 2rpx #a5673f; }

.dashed-bottom-grey::before {
  border-bottom: dashed 2rpx #aaa; }

.dashed-bottom-gray::before {
  border-bottom: dashed 2rpx #f0f0f0; }

.dashed-bottom-black::before {
  border-bottom: dashed 2rpx #333; }

.dashed-bottom-white::before {
  border-bottom: dashed 2rpx #fff; }

.dashed-left::before {
  border-left: dashed 2rpx rgba(0, 0, 0, 0.1); }

.dashed-left-red::before {
  border-left: dashed 2rpx #e54d42; }

.dashed-left-orange::before {
  border-left: dashed 2rpx #f37b1d; }

.dashed-left-yellow::before {
  border-left: dashed 2rpx #fbbd08; }

.dashed-left-olive::before {
  border-left: dashed 2rpx #8dc63f; }

.dashed-left-green::before {
  border-left: dashed 2rpx #39b54a; }

.dashed-left-cyan::before {
  border-left: dashed 2rpx #1cbbb4; }

.dashed-left-blue::before {
  border-left: dashed 2rpx #0081ff; }

.dashed-left-purple::before {
  border-left: dashed 2rpx #6739b6; }

.dashed-left-mauve::before {
  border-left: dashed 2rpx #9c26b0; }

.dashed-left-pink::before {
  border-left: dashed 2rpx #e03997; }

.dashed-left-brown::before {
  border-left: dashed 2rpx #a5673f; }

.dashed-left-grey::before {
  border-left: dashed 2rpx #aaa; }

.dashed-left-gray::before {
  border-left: dashed 2rpx #f0f0f0; }

.dashed-left-black::before {
  border-left: dashed 2rpx #333; }

.dashed-left-white::before {
  border-left: dashed 2rpx #fff; }

.dasheds::before {
  border: dashed 6rpx rgba(0, 0, 0, 0.1); }

.dasheds-red::before {
  border: dashed 6rpx #e54d42; }

.dasheds-orange::before {
  border: dashed 6rpx #f37b1d; }

.dasheds-yellow::before {
  border: dashed 6rpx #fbbd08; }

.dasheds-olive::before {
  border: dashed 6rpx #8dc63f; }

.dasheds-green::before {
  border: dashed 6rpx #39b54a; }

.dasheds-cyan::before {
  border: dashed 6rpx #1cbbb4; }

.dasheds-blue::before {
  border: dashed 6rpx #0081ff; }

.dasheds-purple::before {
  border: dashed 6rpx #6739b6; }

.dasheds-mauve::before {
  border: dashed 6rpx #9c26b0; }

.dasheds-pink::before {
  border: dashed 6rpx #e03997; }

.dasheds-brown::before {
  border: dashed 6rpx #a5673f; }

.dasheds-grey::before {
  border: dashed 6rpx #aaa; }

.dasheds-gray::before {
  border: dashed 6rpx #f0f0f0; }

.dasheds-black::before {
  border: dashed 6rpx #333; }

.dasheds-white::before {
  border: dashed 6rpx #fff; }

.dasheds-top::before {
  border-top: dashed 6rpx rgba(0, 0, 0, 0.1); }

.dasheds-top-red::before {
  border-top: dashed 6rpx #e54d42; }

.dasheds-top-orange::before {
  border-top: dashed 6rpx #f37b1d; }

.dasheds-top-yellow::before {
  border-top: dashed 6rpx #fbbd08; }

.dasheds-top-olive::before {
  border-top: dashed 6rpx #8dc63f; }

.dasheds-top-green::before {
  border-top: dashed 6rpx #39b54a; }

.dasheds-top-cyan::before {
  border-top: dashed 6rpx #1cbbb4; }

.dasheds-top-blue::before {
  border-top: dashed 6rpx #0081ff; }

.dasheds-top-purple::before {
  border-top: dashed 6rpx #6739b6; }

.dasheds-top-mauve::before {
  border-top: dashed 6rpx #9c26b0; }

.dasheds-top-pink::before {
  border-top: dashed 6rpx #e03997; }

.dasheds-top-brown::before {
  border-top: dashed 6rpx #a5673f; }

.dasheds-top-grey::before {
  border-top: dashed 6rpx #aaa; }

.dasheds-top-gray::before {
  border-top: dashed 6rpx #f0f0f0; }

.dasheds-top-black::before {
  border-top: dashed 6rpx #333; }

.dasheds-top-white::before {
  border-top: dashed 6rpx #fff; }

.dasheds-right::before {
  border-right: dashed 6rpx rgba(0, 0, 0, 0.1); }

.dasheds-right-red::before {
  border-right: dashed 6rpx #e54d42; }

.dasheds-right-orange::before {
  border-right: dashed 6rpx #f37b1d; }

.dasheds-right-yellow::before {
  border-right: dashed 6rpx #fbbd08; }

.dasheds-right-olive::before {
  border-right: dashed 6rpx #8dc63f; }

.dasheds-right-green::before {
  border-right: dashed 6rpx #39b54a; }

.dasheds-right-cyan::before {
  border-right: dashed 6rpx #1cbbb4; }

.dasheds-right-blue::before {
  border-right: dashed 6rpx #0081ff; }

.dasheds-right-purple::before {
  border-right: dashed 6rpx #6739b6; }

.dasheds-right-mauve::before {
  border-right: dashed 6rpx #9c26b0; }

.dasheds-right-pink::before {
  border-right: dashed 6rpx #e03997; }

.dasheds-right-brown::before {
  border-right: dashed 6rpx #a5673f; }

.dasheds-right-grey::before {
  border-right: dashed 6rpx #aaa; }

.dasheds-right-gray::before {
  border-right: dashed 6rpx #f0f0f0; }

.dasheds-right-black::before {
  border-right: dashed 6rpx #333; }

.dasheds-right-white::before {
  border-right: dashed 6rpx #fff; }

.dasheds-bottom::before {
  border-bottom: dashed 6rpx rgba(0, 0, 0, 0.1); }

.dasheds-bottom-red::before {
  border-bottom: dashed 6rpx #e54d42; }

.dasheds-bottom-orange::before {
  border-bottom: dashed 6rpx #f37b1d; }

.dasheds-bottom-yellow::before {
  border-bottom: dashed 6rpx #fbbd08; }

.dasheds-bottom-olive::before {
  border-bottom: dashed 6rpx #8dc63f; }

.dasheds-bottom-green::before {
  border-bottom: dashed 6rpx #39b54a; }

.dasheds-bottom-cyan::before {
  border-bottom: dashed 6rpx #1cbbb4; }

.dasheds-bottom-blue::before {
  border-bottom: dashed 6rpx #0081ff; }

.dasheds-bottom-purple::before {
  border-bottom: dashed 6rpx #6739b6; }

.dasheds-bottom-mauve::before {
  border-bottom: dashed 6rpx #9c26b0; }

.dasheds-bottom-pink::before {
  border-bottom: dashed 6rpx #e03997; }

.dasheds-bottom-brown::before {
  border-bottom: dashed 6rpx #a5673f; }

.dasheds-bottom-grey::before {
  border-bottom: dashed 6rpx #aaa; }

.dasheds-bottom-gray::before {
  border-bottom: dashed 6rpx #f0f0f0; }

.dasheds-bottom-black::before {
  border-bottom: dashed 6rpx #333; }

.dasheds-bottom-white::before {
  border-bottom: dashed 6rpx #fff; }

.dasheds-left::before {
  border-left: dashed 6rpx rgba(0, 0, 0, 0.1); }

.dasheds-left-red::before {
  border-left: dashed 6rpx #e54d42; }

.dasheds-left-orange::before {
  border-left: dashed 6rpx #f37b1d; }

.dasheds-left-yellow::before {
  border-left: dashed 6rpx #fbbd08; }

.dasheds-left-olive::before {
  border-left: dashed 6rpx #8dc63f; }

.dasheds-left-green::before {
  border-left: dashed 6rpx #39b54a; }

.dasheds-left-cyan::before {
  border-left: dashed 6rpx #1cbbb4; }

.dasheds-left-blue::before {
  border-left: dashed 6rpx #0081ff; }

.dasheds-left-purple::before {
  border-left: dashed 6rpx #6739b6; }

.dasheds-left-mauve::before {
  border-left: dashed 6rpx #9c26b0; }

.dasheds-left-pink::before {
  border-left: dashed 6rpx #e03997; }

.dasheds-left-brown::before {
  border-left: dashed 6rpx #a5673f; }

.dasheds-left-grey::before {
  border-left: dashed 6rpx #aaa; }

.dasheds-left-gray::before {
  border-left: dashed 6rpx #f0f0f0; }

.dasheds-left-black::before {
  border-left: dashed 6rpx #333; }

.dasheds-left-white::before {
  border-left: dashed 6rpx #fff; }

.shadow {
  box-shadow: 6rpx 6rpx 8rpx; }
  .shadow-wrap {
    box-shadow: 0 0 10rpx; }
  .shadow-red {
    box-shadow: 6rpx 6rpx 8rpx rgba(229, 77, 66, 0.5); }
  .shadow-wrap-red {
    box-shadow: 0 0 10rpx rgba(229, 77, 66, 0.5); }
  .shadow-orange {
    box-shadow: 6rpx 6rpx 8rpx rgba(243, 123, 29, 0.5); }
  .shadow-wrap-orange {
    box-shadow: 0 0 10rpx rgba(243, 123, 29, 0.5); }
  .shadow-yellow {
    box-shadow: 6rpx 6rpx 8rpx rgba(251, 189, 8, 0.5); }
  .shadow-wrap-yellow {
    box-shadow: 0 0 10rpx rgba(251, 189, 8, 0.5); }
  .shadow-olive {
    box-shadow: 6rpx 6rpx 8rpx rgba(141, 198, 63, 0.5); }
  .shadow-wrap-olive {
    box-shadow: 0 0 10rpx rgba(141, 198, 63, 0.5); }
  .shadow-green {
    box-shadow: 6rpx 6rpx 8rpx rgba(57, 181, 74, 0.5); }
  .shadow-wrap-green {
    box-shadow: 0 0 10rpx rgba(57, 181, 74, 0.5); }
  .shadow-cyan {
    box-shadow: 6rpx 6rpx 8rpx rgba(28, 187, 180, 0.5); }
  .shadow-wrap-cyan {
    box-shadow: 0 0 10rpx rgba(28, 187, 180, 0.5); }
  .shadow-blue {
    box-shadow: 6rpx 6rpx 8rpx rgba(0, 129, 255, 0.5); }
  .shadow-wrap-blue {
    box-shadow: 0 0 10rpx rgba(0, 129, 255, 0.5); }
  .shadow-purple {
    box-shadow: 6rpx 6rpx 8rpx rgba(103, 57, 182, 0.5); }
  .shadow-wrap-purple {
    box-shadow: 0 0 10rpx rgba(103, 57, 182, 0.5); }
  .shadow-mauve {
    box-shadow: 6rpx 6rpx 8rpx rgba(156, 38, 176, 0.5); }
  .shadow-wrap-mauve {
    box-shadow: 0 0 10rpx rgba(156, 38, 176, 0.5); }
  .shadow-pink {
    box-shadow: 6rpx 6rpx 8rpx rgba(224, 57, 151, 0.5); }
  .shadow-wrap-pink {
    box-shadow: 0 0 10rpx rgba(224, 57, 151, 0.5); }
  .shadow-brown {
    box-shadow: 6rpx 6rpx 8rpx rgba(165, 103, 63, 0.5); }
  .shadow-wrap-brown {
    box-shadow: 0 0 10rpx rgba(165, 103, 63, 0.5); }
  .shadow-grey {
    box-shadow: 6rpx 6rpx 8rpx rgba(170, 170, 170, 0.5); }
  .shadow-wrap-grey {
    box-shadow: 0 0 10rpx rgba(170, 170, 170, 0.5); }
  .shadow-gray {
    box-shadow: 6rpx 6rpx 8rpx rgba(240, 240, 240, 0.5); }
  .shadow-wrap-gray {
    box-shadow: 0 0 10rpx rgba(240, 240, 240, 0.5); }
  .shadow-black {
    box-shadow: 6rpx 6rpx 8rpx rgba(51, 51, 51, 0.5); }
  .shadow-wrap-black {
    box-shadow: 0 0 10rpx rgba(51, 51, 51, 0.5); }
  .shadow-white {
    box-shadow: 6rpx 6rpx 8rpx rgba(255, 255, 255, 0.5); }
  .shadow-wrap-white {
    box-shadow: 0 0 10rpx rgba(255, 255, 255, 0.5); }

.flex {
  display: flex; }
  .flex-inline {
    display: inline-flex; }
  .flex-reverse {
    flex-direction: row-reverse; }
  .flex-col {
    flex-direction: column; }
    .flex-col-reverse {
      flex-direction: column-reverse; }
  .flex-wrap {
    flex-wrap: wrap; }
  .flex-sub {
    flex: 1; }
  .flex-twice {
    flex: 2; }
  .flex-treble {
    flex: 3; }

.basis-xs {
  flex-basis: 20%; }

.basis-sm {
  flex-basis: 40%; }

.basis-df {
  flex-basis: 50%; }

.basis-lg {
  flex-basis: 60%; }

.basis-xl {
  flex-basis: 80%; }

.align-start {
  align-items: flex-start; }

.align-end {
  align-items: flex-end; }

.align-center {
  align-items: center; }

.align-baseline {
  align-items: baseline; }

.self-start {
  align-self: flex-start; }

.self-end {
  align-self: flex-end; }

.self-center {
  align-self: center; }

.self-baseline {
  align-self: baseline; }

.self-stretch {
  align-self: stretch; }

.justify-end {
  justify-content: flex-end; }

.justify-center {
  justify-content: center; }

.justify-between {
  justify-content: space-between; }

.justify-around {
  justify-content: space-around; }

.grid {
  display: flex;
  flex-wrap: wrap; }
  .grid.grid-square {
    overflow: hidden; }
    .grid.grid-square > view {
      margin-right: 20rpx;
      margin-bottom: 20rpx;
      border-radius: 6rpx;
      position: relative;
      overflow: hidden; }
      .grid.grid-square > view.bg-img image {
        width: 100%;
        height: 100%;
        position: absolute; }
    .grid.grid-square.col-1 > view {
      padding-bottom: calc((100% - 20rpx * (1 - 1)) / 1);
      height: 0;
      width: calc((100% - 20rpx * (1 - 1)) / 1); }
    .grid.grid-square.col-2 > view {
      padding-bottom: calc((100% - 20rpx * (2 - 1)) / 2);
      height: 0;
      width: calc((100% - 20rpx * (2 - 1)) / 2); }
      .grid.grid-square.col-2 > view:nth-child(2n) {
        margin-right: 0; }
    .grid.grid-square.col-3 > view {
      padding-bottom: calc((100% - 20rpx * (3 - 1)) / 3);
      height: 0;
      width: calc((100% - 20rpx * (3 - 1)) / 3); }
      .grid.grid-square.col-3 > view:nth-child(3n) {
        margin-right: 0; }
    .grid.grid-square.col-4 > view {
      padding-bottom: calc((100% - 20rpx * (4 - 1)) / 4);
      height: 0;
      width: calc((100% - 20rpx * (4 - 1)) / 4); }
      .grid.grid-square.col-4 > view:nth-child(4n) {
        margin-right: 0; }
    .grid.grid-square.col-5 > view {
      padding-bottom: calc((100% - 20rpx * (5 - 1)) / 5);
      height: 0;
      width: calc((100% - 20rpx * (5 - 1)) / 5); }
      .grid.grid-square.col-5 > view:nth-child(5n) {
        margin-right: 0; }
  .grid.col-1 > view {
    width: 100%; }
  .grid.col-2 > view {
    width: 50%; }
  .grid.col-3 > view {
    width: 33.33333%; }
  .grid.col-4 > view {
    width: 25%; }
  .grid.col-5 > view {
    width: 20%; }

.cf::after, .cf::before {
  content: ' ';
  display: table; }

.cf::after {
  clear: both; }

.cf .fl {
  float: left; }

.cf .fr {
  float: right; }

.margin-0 {
  margin: 0rpx; }

.margin-top-0, .margin-tb-0 {
  margin-top: 0rpx; }

.margin-right-0, .margin-lr-0 {
  margin-right: 0rpx; }

.margin-bottom-0, .margin-tb-0 {
  margin-bottom: 0rpx; }

.margin-left-0, .margin-lr-0 {
  margin-left: 0rpx; }

.margin-xs {
  margin: 10rpx; }

.margin-top-xs, .margin-tb-xs {
  margin-top: 10rpx; }

.margin-right-xs, .margin-lr-xs {
  margin-right: 10rpx; }

.margin-bottom-xs, .margin-tb-xs {
  margin-bottom: 10rpx; }

.margin-left-xs, .margin-lr-xs {
  margin-left: 10rpx; }

.margin-sm {
  margin: 20rpx; }

.margin-top-sm, .margin-tb-sm {
  margin-top: 20rpx; }

.margin-right-sm, .margin-lr-sm {
  margin-right: 20rpx; }

.margin-bottom-sm, .margin-tb-sm {
  margin-bottom: 20rpx; }

.margin-left-sm, .margin-lr-sm {
  margin-left: 20rpx; }

.margin {
  margin: 30rpx; }

.margin-top, .margin-tb {
  margin-top: 30rpx; }

.margin-right, .margin-lr {
  margin-right: 30rpx; }

.margin-bottom, .margin-tb {
  margin-bottom: 30rpx; }

.margin-left, .margin-lr {
  margin-left: 30rpx; }

.margin-lg {
  margin: 40rpx; }

.margin-top-lg, .margin-tb-lg {
  margin-top: 40rpx; }

.margin-right-lg, .margin-lr-lg {
  margin-right: 40rpx; }

.margin-bottom-lg, .margin-tb-lg {
  margin-bottom: 40rpx; }

.margin-left-lg, .margin-lr-lg {
  margin-left: 40rpx; }

.margin-xl {
  margin: 50rpx; }

.margin-top-xl, .margin-tb-xl {
  margin-top: 50rpx; }

.margin-right-xl, .margin-lr-xl {
  margin-right: 50rpx; }

.margin-bottom-xl, .margin-tb-xl {
  margin-bottom: 50rpx; }

.margin-left-xl, .margin-lr-xl {
  margin-left: 50rpx; }

.padding-0 {
  padding: 0rpx; }

.padding-top-0, .padding-tb-0 {
  padding-top: 0rpx; }

.padding-right-0, .padding-lr-0 {
  padding-right: 0rpx; }

.padding-bottom-0, .padding-tb-0 {
  padding-bottom: 0rpx; }

.padding-left-0, .padding-lr-0 {
  padding-left: 0rpx; }

.padding-xs {
  padding: 10rpx; }

.padding-top-xs, .padding-tb-xs {
  padding-top: 10rpx; }

.padding-right-xs, .padding-lr-xs {
  padding-right: 10rpx; }

.padding-bottom-xs, .padding-tb-xs {
  padding-bottom: 10rpx; }

.padding-left-xs, .padding-lr-xs {
  padding-left: 10rpx; }

.padding-sm {
  padding: 20rpx; }

.padding-top-sm, .padding-tb-sm {
  padding-top: 20rpx; }

.padding-right-sm, .padding-lr-sm {
  padding-right: 20rpx; }

.padding-bottom-sm, .padding-tb-sm {
  padding-bottom: 20rpx; }

.padding-left-sm, .padding-lr-sm {
  padding-left: 20rpx; }

.padding {
  padding: 30rpx; }

.padding-top, .padding-tb {
  padding-top: 30rpx; }

.padding-right, .padding-lr {
  padding-right: 30rpx; }

.padding-bottom, .padding-tb {
  padding-bottom: 30rpx; }

.padding-left, .padding-lr {
  padding-left: 30rpx; }

.padding-lg {
  padding: 40rpx; }

.padding-top-lg, .padding-tb-lg {
  padding-top: 40rpx; }

.padding-right-lg, .padding-lr-lg {
  padding-right: 40rpx; }

.padding-bottom-lg, .padding-tb-lg {
  padding-bottom: 40rpx; }

.padding-left-lg, .padding-lr-lg {
  padding-left: 40rpx; }

.padding-xl {
  padding: 50rpx; }

.padding-top-xl, .padding-tb-xl {
  padding-top: 50rpx; }

.padding-right-xl, .padding-lr-xl {
  padding-right: 50rpx; }

.padding-bottom-xl, .padding-tb-xl {
  padding-bottom: 50rpx; }

.padding-left-xl, .padding-lr-xl {
  padding-left: 50rpx; }

[class*='ani-'] {
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: both; }

.ani-fade {
  animation-name: "fade";
  animation-duration: 0.8s;
  animation-timing-function: linear; }

.ani-scale-up {
  animation-name: "scale-up"; }

.ani-scale-down {
  animation-name: "scale-down"; }

.ani-slide-top {
  animation-name: "slide-top"; }

.ani-slide-bottom {
  animation-name: "slide-bottom"; }

.ani-slide-left {
  animation-name: "slide-left"; }

.ani-slide-right {
  animation-name: "slide-right"; }

.ani-shake {
  animation-name: "shake"; }

.ani-reverse {
  animation-direction: reverse; }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes scale-up {
  0% {
    opacity: 0;
    transform: scale(0.2); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes scale-down {
  0% {
    opacity: 0;
    transform: scale(1.8); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes slide-top {
  0% {
    opacity: 0;
    transform: translateY(-100%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes slide-bottom {
  0% {
    opacity: 0;
    transform: translateY(100%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes shake {
  0%,
  100% {
    transform: translateX(0); }
  10% {
    transform: translateX(-9px); }
  20% {
    transform: translateX(8px); }
  30% {
    transform: translateX(-7px); }
  40% {
    transform: translateX(6px); }
  50% {
    transform: translateX(-5px); }
  60% {
    transform: translateX(4px); }
  70% {
    transform: translateX(-3px); }
  80% {
    transform: translateX(2px); }
  90% {
    transform: translateX(-1px); } }

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(-100%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(100%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes spin {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(359deg); } }

.avatar-group .avatar {
  margin-left: -30rpx !important;
  border: 2rpx solid #f1f1f1;
  vertical-align: middle !important; }

.avatar-group .avatar.sm {
  margin-left: -20rpx !important; }

.avatar-group .avatar.lg {
  margin-left: -45rpx !important; }

.avatar-group .avatar.xl {
  margin-left: -60rpx !important; }
